@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800;
}

.toggle-checkbox:checked {
  @apply right-0;
  @apply border-green-400;
  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #68d391;
}
